.dme-btn {
    position: absolute;
    top: 0;
    right: 10%;
    width: 9%;
    height: 4.7%;
    /* border: 1px solid white; */
}

.namd-btn {
    position: absolute;
    top: 0;
    right: 18%;
    width: 9%;
    height: 4.5%;
    /* border: 1px solid white; */
}

.rvo-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 4.7%;
    /* border: 1px solid white; */
}

.bgimg {
    position: relative;
    top: -0.2%;
    width: 100%;
    height: 100%;
}

.graph-label-container {
    position: absolute;
    top: 50%;
    left: 52.6%;
    width: 17%;
    height: 3.4%;
    overflow: hidden;
    /* border: 1px solid white; */
}

.graph-label {
    position: relative;
    top: 0;
    left: 30.5%;
    height: 100%;
    width: 39.5%;
}

.graph-animated {
    position: absolute;
    top: 13%;
    width: 30.5%;
    height: 75%;
    /* border: 1px solid red; */
}

.graph-right {
    right: 31%;
    width: 38%;
}

.graph-left {
    left: 31%;
    width: 38%;
}

@keyframes expand {
    from {right: 31%;}
    to {right: 0%}
}

@keyframes expand-reverse {
    from {left: 31%;}
    to {left: 0%}
}

.animated-expand {
    animation-name: expand;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: forwards;
    animation-fill-mode: forwards;
}

.animated-expand-reverse {
    animation-name: expand-reverse;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: forwards;
    animation-fill-mode: forwards;
}