.dme-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 5%;
    /* border: 1px solid white; */
}

.link {
    width: 8%;
    height: 1.5%;
    box-sizing: border-box;
    position: absolute;
    top: 87%;
    left: 48%;
    /* border: 1px solid white; */
}

.graph-label-container {
    position: absolute;
    top: 56%;
    left: 44.8%;
    width: 40%;
    height: 5.5%;
    overflow: hidden;
    /* border: 1px solid white; */
}

.graph-label {
    position: relative;
    top: 100%;
    width: 100%;
}

@keyframes slideUp {
    from {top: 100%;}
    to {top: 0%}
}

.animated-slideUp {
    animation-name: slideUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: forwards;
    animation-fill-mode: forwards;
}