.dme_top_button {
    width: 11%;
    height: 5%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    /* border: 1px solid red; */
}

.namd_week_0_img {
    width: 47%;
    height: 42.5%;
    position: absolute;
    top: 18%;
    left: 27%;
}

.namd_week_16_img {
    width: 47%;
    height: 44%;
    position: absolute;
    top: 18%;
    left: 27%;
}

.namd_week_24_img {
    width: 47%;
    height: 44%;
    position: absolute;
    top: 18%;
    left: 27%;
}

.namd_week_48_img {
    width: 47%;
    height: 44%;
    position: absolute;
    top: 18%;
    left: 27%;
}

.namd_week_0_btn {
    width: 6%;
    height: 6%;
    box-sizing: border-box;
    position: absolute;
    top: 47%;
    left: 30%;
    /* border: 1px solid red; */
}

.namd_week_16_btn {
    width: 6%;
    height: 6%;
    box-sizing: border-box;
    position: absolute;
    top: 47%;
    left: 42%;
    /* border: 1px solid red; */
}

.namd_week_24_btn {
    width: 6%;
    height: 6%;
    box-sizing: border-box;
    position: absolute;
    top: 47%;
    left: 54%;
    /* border: 1px solid red; */
}

.namd_week_48_btn {
    width: 6%;
    height: 6%;
    box-sizing: border-box;
    position: absolute;
    top: 47%;
    left: 65%;
    /* border: 1px solid red; */
}