.dme_top_button {
    width: 11%;
    height: 5%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    /* border: 1px solid red; */
}

.namd_week_0_img {
    width: 53%;
    height: 47%;
    position: absolute;
    top: 18%;
    left: 27%;
}

.namd_week_16_img {
    width: 53%;
    height: 48.7%;
    position: absolute;
    top: 18%;
    left: 27%;
}

.namd_week_24_img {
    width: 53%;
    height: 48.8%;
    position: absolute;
    top: 18%;
    left: 27%;
}

.namd_week_48_img {
    width: 53%;
    height: 48.7%;
    position: absolute;
    top: 18%;
    left: 27%;
}

.namd_week_0_btn {
    width: 6%;
    height: 6%;
    box-sizing: border-box;
    position: absolute;
    top: 51%;
    left: 30%;
    /* border: 1px solid red; */
}

.namd_week_16_btn {
    width: 6%;
    height: 6%;
    box-sizing: border-box;
    position: absolute;
    top: 51%;
    left: 44%;
    /* border: 1px solid red; */
}

.namd_week_24_btn {
    width: 6%;
    height: 6%;
    box-sizing: border-box;
    position: absolute;
    top: 51%;
    left: 57%;
    /* border: 1px solid red; */
}

.namd_week_48_btn {
    width: 6%;
    height: 6%;
    box-sizing: border-box;
    position: absolute;
    top: 51%;
    left: 71%;
    /* border: 1px solid red; */
}