.dme_top_button {
    width: 13%;
    height: 4%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 13%;
    /* border: 1px solid red; */
}

.dme_case_1_week_0_img {
    width: 62%;
    height: 50%;
    position: absolute;
    top: 16.8%;
    left: 27%;
}

.dme_case_1_week_12_img {
    width: 62%;
    height: 52.1%;
    position: absolute;
    top: 16.8%;
    left: 27%;
}

.dme_case_1_week_32_img {
    width: 62%;
    height: 52.1%;
    position: absolute;
    top: 16.8%;
    left: 27%;
}

.dme_case_1_week_96_img {
    width: 62%;
    height: 52.1%;
    position: absolute;
    top: 16.8%;
    left: 27%;
}

.dme_case_2_week_0_img {
    width: 62%;
    height: 52.09%;
    position: absolute;
    top: 16.8%;
    left: 27%;
}

.dme_case_2_week_12_img {
    width: 62%;
    height: 52%;
    position: absolute;
    top: 16.8%;
    left: 27%;
}

.dme_case_2_week_44_img {
    width: 62%;
    height: 50%;
    position: absolute;
    top: 16.8%;
    left: 27%;
}

.dme_case_2_week_96_img {
    width: 62%;
    height: 50%;
    /* width: 1303px;
    height: 604.5px; */
    position: absolute;
    top: 16.8%;
    left: 27%;
}

.dme_case_1_week_0_btn {
    width: 4%;
    height: 5.5%;
    box-sizing: border-box;
    position: absolute;
    top: 49.5%;
    left: 32.2%;
    /* border: 1px solid green; */
}

.dme_case_1_week_12_btn {
    width: 4%;
    height: 5.5%;
    box-sizing: border-box;
    position: absolute;
    top: 49.5%;
    left: 48%;
    /* border: 1px solid green; */
}

.dme_case_1_week_32_btn {
    width: 4%;
    height: 5.5%;
    box-sizing: border-box;
    position: absolute;
    top: 49.5%;
    left: 64%;
    /* border: 1px solid green; */
}

.dme_case_1_week_96_btn {
    width: 4%;
    height: 5.5%;
    box-sizing: border-box;
    position: absolute;
    top: 49.5%;
    left: 79.5%;
    /* border: 1px solid green; */
}

.dme_case_2_week_0_btn {
    width: 5%;
    height: 5%;
    box-sizing: border-box;
    position: absolute;
    top: 52.5%;
    left: 31%;
    /* border: 1px solid red; */
}

.dme_case_2_week_12_btn {
    width: 5%;
    height: 5%;
    box-sizing: border-box;
    position: absolute;
    top: 52.5%;
    left: 46%;
    /* border: 1px solid red; */
}

.dme_case_2_week_44_btn {
    width: 5%;
    height: 5%;
    box-sizing: border-box;
    position: absolute;
    top: 52.5%;
    left: 61%;
    /* border: 1px solid red; */
}

.dme_case_2_week_96_btn {
    width: 5%;
    height: 5%;
    box-sizing: border-box;
    position: absolute;
    top: 52.5%;
    left: 76%;
    /* border: 1px solid red; */
}

.patient_case_1_btn {
    width: 14.2%;
    height: 4.1%;
    box-sizing: border-box;
    position: absolute;
    top: 70.5%;
    left: 66.4%;
}

.patient_case_2_btn {
    width: 14.2%;
    height: 4.1%;
    box-sizing: border-box;
    position: absolute;
    top: 70.5%;
    left: 81.5%;
}