html {
    overflow: hidden;
}

body {
    margin: 0;
}

.hidden {
    visibility: hidden;
}

.main-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bgimg {
    position: relative;
    width: 100%;
    height: 100%;
}

.isi-expand {
    position: absolute;
    top: 49%;
    left: 3.6%;
    width: 2.7%;
    aspect-ratio: 1;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.popup img {
    width: 100%;
    height: 100%;
}

.popup-close {
    position: absolute;
    top: 10%;
    right: 9.5%;
    width: 5%;
    height: 7%;
    /* border: 1px solid black; */
}

.bottom_nav {
    position: absolute;
    width: 100%;
    height: 7.4%;
    bottom: 0;
    left: 0;
    padding: 0;
    /* border: 1px solid red; */
}

@media only screen and (min-width: 1150px) and (max-width: 1200px){
	.bottom_nav {
        height: 7.8%;
    }
}

.nav-btn-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: row;
}

.nav-btn-container img {
    height: 100%;
    bottom: 0;
}

.nav-spacer {
    height: 100%;
    width: 4%;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.bottom_nav_bkg {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    
}

.arrow-nav {
    position: absolute;
    width: 2.73%;
    bottom: 9%;
}

.arrow-next {
    right: 3.5%;
}

.arrow-prev {
    right: 8%;
}