html {
    overflow: hidden;
}

body {
    margin: 0;
}

.hidden {
    visibility: hidden;
}

.main-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bgimg {
    position: relative;
    width: 100%;
    height: 100%;
}

.isi-expand {
    position: absolute;
    top: 47%;
    left: 2.5%;
    width: 2.7%;
    aspect-ratio: 1;
}

.isi-expand-home {
    position: absolute;
    top: 47%;
    left: 2.5%;
    width: 2.7%;
    aspect-ratio: 1;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.popup img {
    width: 100%;
    height: 100%;
}

.popup-close {
    position: absolute;
    top: 10%;
    right: 9.5%;
    width: 5%;
    height: 10%;
    /* border: 1px solid black; */
}

.rvo-close {
    position: absolute;
    top: 30%;
    right: 9.5%;
    width: 5%;
    height: 10%;
    /* border: 1px solid red; */
}

.bottom_nav {
    position: absolute;
    width: 100%;
    height: 7.5%;
    bottom: 0;
    left: 0;
    padding: 0;
    /* border: 1px solid red; */
}

@media only screen and (min-width: 1150px) and (max-width: 1200px){
	.bottom_nav {
        height: 7.9%;
    }
}

.nav-btn-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: row;
}

.nav-btn-container img {
    height: 100%;
    bottom: 0;
}

.nav-spacer {
    height: 100%;
    width: 21%;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.bottom_nav_bkg {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    
}

.arrow-nav {
    position: absolute;
    width: 5%;
    height: 4.5%;;
    bottom: 10%;

}

.arrow-next {
    right: 0.8%;
    bottom: 8%;
    /* border: 1px solid red; */
}

.arrow-prev {
    right: 5%;
    bottom: 8%;
    /* border: 1px solid red; */
}