.dme-btn {
    position: absolute;
    top: 0;
    right: 10%;
    width: 9%;
    height: 4.7%;
    /* border: 1px solid white; */
}

.rvo-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    height: 4.7%;
    /* border: 1px solid white; */
}

.link {
    width: 8%;
    height: 1.5%;
    box-sizing: border-box;
    position: absolute;
    top: 85%;
    left: 45%;
    /* border: 1px solid white; */
}

.bgimg {
    position: relative;
    top: -0.2%;
    width: 100%;
    height: 100%;
}

.content-btn {
    position: absolute;
    top: 72%;
    /* border: 1px solid red; */
}

.btn-study-design {
    right: 5%;
    width: 9%;
}

.graph-label-container {
    position: absolute;
    top: 55%;
    left: 41.5%;
    width: 36%;
    height: 4.8%;
    overflow: hidden;
    /* border: 1px solid white; */
}

.graph-label {
    position: relative;
    top: 100%;
    width: 100%;
}

@keyframes slideUp {
    from {top: 100%;}
    to {top: 0%}
}

.animated-slideUp {
    animation-name: slideUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: forwards;
    animation-fill-mode: forwards;
}