/*<![CDATA[*/

/* LINKS ------------------------------------------------------------------ */

#nav h1 {
	list-style:none;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.27, #211b47),
 		color-stop(0.64, #211b47)
 );
	border:0px solid #00396a;
	color:#FAF8FD !important;
	margin-right:3px;
	margin-bottom:4px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	vertical-align:middle;
	padding:22px 16px 22px 8px;
	font-size:1.025em;
	position:relative;
	width:99%;
	xleft:-25px;
}
#nav h2 {display:none; padding:0; margin:4px 0 0; width:97%}
#nav h2 {padding-left:35px}
#nav h2 {padding:0px 16px 0px 8px;}
#nav h1 .toptitle{position:relative; left:-10px; width:254px}
#nav h2.clicked, #nav h2 {background:#e1e1e1 !important;}
#nav h1.clicked .toptitle {background:#616161}
#nav h1 .fix {line-height:35px !important;}

#nav h2 {display:block; position:relative; left:0px}
#nav h2.selected, #nav h2{
	list-style:none;
	background: #0067c4; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#616161), color-stop(47%,#616161), color-stop(100%,#616161)) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #616161 0%,#616161 47%,#616161 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top,  #616161 0%,#616161 47%,#616161 100%); /* W3C */
	border:0px solid #686868;
	color:#FFFFFF !important;
	margin-right:3px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding:10px 0px 0px 7px;
	height:55px;
	line-height:25px;
	position:relative;
	width:269px;
	font-size:1.025em;
	xleft:-25px;
}

#nav h1 a, #nav h2 a{
	text-decoration:none;
	color:#FAF8FD !important;
	text-shadow: 0px 0px #0b395f;
	letter-spacing:0px;
	padding:0px 0px 35px 0px;
	-webkit-overflow-scrolling:touch;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-user-select: none;	
	-webkit-text-size-adjust: none;
}

/*]]>*/

