*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#toplevel{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: white;
	background-image: linear-gradient(white, rgb(33,27,71), rgb(33,27,71));
	display: flex;
	justify-content: center;
}
iframe{
	position: fixed;
	width: 1024px;
	height: 2066px;
}

@media only screen and (max-width: 1199px) {
	iframe {
		transform: scale(1.086);
		transform-origin: top;
	}
}

@media only screen and (min-width: 1200px){
	iframe{
		transform: scale(1.34);
		transform-origin: top;
	}
}

.pi-close {
	position: absolute;
	top: 2.2%;
	right: 0.8%;
	width: 4.15%;
}

@media only screen and (max-width: 1200px){
	.pi-close {
		top: 2.2%;
		right: 4.3%;
		width: 3.9%;
	}
}